/* @import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i); */
@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,600,600i);

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;
}

body{
    margin: 0;
    padding: 0;   
    background: rgb(31, 31, 39);
    color: #fff;
    width: 100%;
}

h1{
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 15px;
}

h2{
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 15px;
}

.header-shadow{
    text-shadow: #000 2px 2px 5px;
}

/* .content{

} */

.grid-container {
    display: grid;
    text-align: justify;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 20px;
    column-gap: 20px;
    row-gap: 20px;
    max-width: 100%;
  }

.grid-item {
    display: block;
    background-color: rgb(48, 47, 53);
    align-items: center;
    justify-content: center;
    /* justify-content: left; */
    padding: 20px;
    border-radius: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.7) 5px 5px 10px;
}

.name-item {
    grid-column: 1 / span 5;
}

.cotact{
    grid-column: 1 / span 2;
}

.cotact-list li{
    font-size: 1.5em;
}

.about{
    grid-column: 3 / span 3;
}

.experience{
    grid-column: 1 / span 3;
}

.education{
    grid-column: 4 / span 2;
}

.languages{
    grid-column: 1 / span 2;
}

.skills{
    grid-column: 3 / span 3;
}

.technologies{
    grid-column: 1 / span 5;
}

.rodo{
    padding: 20px;
    padding-top: 0;
    font-size: 11px;
    color: #ddd;
    text-align: justify;
}